.full-page-design {
  background-color: #f1d7cf;
}
.header {
  border: 10px solid #dc3545;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
}
.header-Div {
  position: relative;
}

.content {
  padding-top: 6px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
.card-section {
  position: relative;
}
.card-body-section {
  position: absolute;
  top: 50%;
  left: 25%;
  right: 25%;
  width: 50%;
  padding-top: 9%;
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap !important;
}
.first-title {
  text-align: center;
  padding-top: 14px;
}
.second-title {
  text-align: center;
}

.avatar-section {
  height: 200px;
}
.last-title {
  width: 100%;
  padding-top: 12px;
  border: 1px solid #dc3545;
  background: #b1424c;
  height: 50px;
  border-radius: 6px;
  margin-top: 25px;
  color: white;
  text-align: center;
}
.timer {
  text-align: center;
  padding-top: 26px;
  height: 14%;
  width: 18%;
  margin-top: 24px;
  border: 3px solid #eab00b;
  border-radius: 89%;
  margin-left: 42%;
  background-color: #f8f9fa;
}
.second-card {
  text-align: center;
  padding-top: 23px;
  border-radius: 10px !important;
}
.Card-1 {
  width: 80% !important;
}
.Card-2 {
  width: 80% !important;
}
.team-green {
  text-align: center;
  margin-top: 15px;
  border-top: 6px solid #14ca42 !important;
}
.team-yellow {
  text-align: center;
  margin-top: 15px;
  border-top: 6px solid #e9b60e !important;
}
.team-blue {
  text-align: center;
  border-top: 6px solid #0fa9e8 !important;
}
.team-red {
  text-align: center;
  border-top: 6px solid #f31212 !important;
}
.blue-box {
  background: rgba(0, 0, 0, 0.075);
  border: 0px solid white;
}
.red-box {
  background: rgba(0, 0, 0, 0.075);
  border: 0px solid white;
}
.yellow-box {
  background: rgba(0, 0, 0, 0.075);
  border: 0px solid white;
}
.green-box {
  background: rgba(0, 0, 0, 0.075);
  border: 0px solid white;
}
.name-1 {
  border-left: 4px solid #11acec;
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  width: 105%;
}

.name-2 {
  border-left: 4px solid red;
  margin-top: 7px;
}
.item-name3{
  background-color: #c7eec7 !important;
}
.name-3 {
  border-left: 4px solid green;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 105%;
}
.name-3anddianne{
  margin-bottom: 7px;
} 
.name-1andsavan{
  margin-bottom: 7px;
}

.name-4 {
  border-left: 4px solid #cfad11;
  margin-top: 7px;
}
.name-5 {
  border-left: 4px solid #11acec;
  margin-top: 7px;
}

.name-6 {
  border-left: 4px solid red;
  margin-top: 7px;
}
.truns {
  margin-left: 13px;
  margin-bottom: 0px;
}
ul.list-group.list-group-flush {
  border-top: none !important;
  padding: 15px;
  overflow: auto;
  height: 300px;
}
li.list-group-item {
  padding-bottom: 0px;
  padding-left: 0px;
}
.savan {
  padding-left: 7px;
  margin-bottom: 9px;
}
.henry {
  padding-left: 7px;
  margin-bottom: 9px;
}
.Dianne {
  padding-left: 7px;
  margin-bottom: 9px;
}
.bell {
  padding-left: 7px;
  margin-bottom: 9px;
}
.savan-1 {
  padding-left: 7px;
  margin-bottom: 9px;
}
.coutry {
  padding-left: 7px;
  margin-bottom: 9px;
}
svg.bi.bi-x {
  color: red;
}
.now {
  color: #14ca42;
  padding-right: 11px;
}
.Card {
  border-radius: 10px !important;
}

/* .col-sm-6.green {
  margin-top: 15px;
} */

/* media query section */
@media only screen and (max-width: 785px) and (min-width: 600px) {
  .card-body-section {
    display: flex !important;
    flex-direction: column;
    width: 86% !important;
    left: 17%;
  }
  .col-6.Card-2 {
    margin-top: 22px;
  }
  .timer {
    text-align: center;
    padding-top: 20px !important;
    height: 74px !important;
  }
}

@media only screen and (max-width: 599px) and (min-width: 485px) {
  .card-body-section {
    display: flex !important;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    width: 69%;
    padding-top: 69px;
  }
  .content {
    font-size: larger;
    padding-top: 11px;
  }
  .header {
    width: 68%;
  }
  .timer {
    padding-top: 9px;
    height: 51px;
    width: 23%;
    margin-left: 94px;
    margin-bottom: 15px;
  }
  .col-sm-6.red {
    padding-top: 13px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 786px) {
  .timer {
    height: 10% !important;
    width: 22% !important;
    padding-top: 17px !important;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 901px) {
  .timer {
    width: 24%;
    height: 70px;
    padding-top: 18px;
    margin-left: 102px;
  }
}
@media only screen and (max-width: 484px) and (min-width: 320px) {
  .row.card-body-section {
    display: flex !important;
    flex-direction: column;
    left: 9px;
    padding-top: 65px;
  }
  .Card {
    width: 288%;
    padding-top: 4px;
  }
  .last-title {
    width: 287%;
  }
  .header {
    width: 100%;
  }
  .timer {
    width: 60%;
    padding-top: 20px;
    height: 65px;
    margin-left: 113%;
    margin-bottom: 30px;
  }
  .card.Sec-Card {
    width: 283%;
    left: 0px;
  }
  .Card-2 {
    padding-left: 4px !important;
    padding-right: 4px;
  }
  .col-sm-6.red {
    margin-top: 13px;
  }
  /* .card-body.Card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .green {
    padding-left: 24px !important;
}
.card.team-green {
  margin-top: 0px;
} */
}
